h4 {
    background-color: lightgray;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-inline-start: 10px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    color: black;
}

ul {
    list-style-type: none;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.container {
    margin-top: 30px;
    margin-inline-start: 5vh;
    margin-inline-end: 5vh;
}

.navigation-bar {
    height: 7vh;
    margin: auto;
}

.website-name {
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    background-color: lightgray;
}

.navigation-bar-features {
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    background-color: white;
    color: black;
}

.scrollable {
    overflow: scroll;
}

.border {
    border-style: groove;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) {
    html {
        font-size: 2.2vw;
    }
    .padding-left-bottom {
        padding-bottom: 3vh;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 600px) {
    html {
        font-size: 1.8vw;
    }
    .padding-left-bottom {
        padding-bottom: 3vh;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 1.5vw;
    }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 992px) {
    html {
        font-size: 1.1vw;
    }
    .padding-left-bottom {
        padding-right: 5vh;
    }
}

@media only screen and (min-width: 320px) {
    .navigation-bar-features {
        display: none;
    }
    .menu {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .navigation-bar-features {
        display: block;
    }
    .menu {
        display: none;
    }
}