/* body {height: 100%;} */

.hot-game {
    height: 5vh;
    margin-top: 5vh;
    border-style: groove;
}

.hot-game>.title {
    background-color: lightgray;
    height: 4vh;
    text-align: center;
    line-height: 4vh;
    float: left;
}

.hot-game>.detail {
    padding-top: 1vh;
}

.container>.content {
    width: 100%;
    float: left;
}

.content>.tabs {
    margin-top: 5vh;
}

.last-games {
    height: 50vh;
    overflow: scroll;
}

.live-scores {
    /* margin-left: 5vh; */
    height: 60vh;
    overflow: scroll;
}

.trending {
    /* margin-left: 5vh; */
    height: 65vh;
}

.time {
    line-height: 3vh;
    text-align: center;
    /* font-size: 1vw; */
}

.logo {
    line-height: 3vh;
    text-align: center;
    /* font-size: 1vw; */
}

.teamA {
    /* font-size: 1vw; */
    float: left;
    text-align: center;
}

.teamB {
    float: center;
    text-align: left;
    /* font-size: 1vw; */
}

.match {
    padding-top: 2vh;
    border-bottom: 1px solid;
    height: 7vh;
}

.score {
    text-align: center;
    /* font-size: 1vw; */
}

@media only screen and (min-width: 320px) {
    .menu {
        display: inline;
    }
    .normal {
        display: none;
    }
    .small {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .normal {
        display: block;
    }
    .small {
        display: none;
    }
}