.team-name {
    height: 5vh;
    margin-top: 5vh;
}

.rank {
    line-height: 4vh;
    text-align: center;
    background-color: white;
    height: 5vh;
}

.team-stat {
    margin-top: 5vh;
    height: 35vh;
}

.other {
    margin-top: 5vh;
    height: 30vh;
}

.other>.player-info {
    width: 45%;
    float: left;
    height: 100%;
}

.other>.news {
    width: 50%;
    float: right;
    height: 100%;
}