/* body {height: 100%;} */

.tabs {
    margin-top: 5vh;
}

.side-bar {
    height: 80vh;
}

.content {}

.live-score {
    width: 100%;
    height: 40vh;
    overflow: scroll;
}

.other {
    height: 30vh;
    margin-top: 5vh;
}

.top-team {
    height: 35vh;
    margin-top: 5vh;
    overflow: scroll;
}

.side-bar>ul.scrollable {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.match {
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid;
}

.time {
    width: 10%;
    float: left;
}

.teamA {
    width: 40%;
    float: left;
    text-align: right;
}

.score {
    width: 15%;
    float: left;
    text-align: center;
}

.teamB {
    width: 30%;
    float: left;
    text-align: left
}

th {
    font-weight: normal;
    text-align: center;
}

.top-team>table>tbody>tr {
    height: 30px;
}

.top-team>table>tbody>tr.header {
    background-color: lightgray;
}

.league-name {
    height: 40px;
}

.team {
    width: 70%;
}

.match-played {
    width: 10%;
}

.point {
    width: 10%;
}

.ranking {
    width: 10%;
}

@media only screen and (min-width: 320px) {
    .other {
        display: none;
    }
    .top-team {
        display: none;
    }
    .live-score {
        overflow: visible;
        height: auto;
    }
}

@media only screen and (min-width: 600px) {
    .other {
        display: block;
    }
    .top-team {
        display: block;
    }
    .live-score {
        overflow: visible;
        height: auto;
    }
}

@media only screen and (min-width: 992px) {
    .other {
        display: block;
    }
    .top-team {
        display: block;
    }
    .live-score {
        overflow: scroll;
        height: 40vh;
    }
}