/* body {height: 100%;} */

.tabs {
    margin-top: 5vh;
}

.side-bar {
    height: 80vh;
    width: 30%;
    float: left;
    

}

.content {
    width: 69%;
    float: right;
}

.live-score {
    width: 100%;
    height: 45vh;
    
    overflow: scroll;
}

.other {
    height: 30vh;
    width: 73%;
    
    float: left;
    margin-top: 20px;

}

.top-team {
    height: 35vh;
    width: 25%;
    float: right;
    margin-top: 20px;
    overflow: scroll;
    
}

.side-bar > ul.scrollable {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h4 {
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline-start: 10px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.match {
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid;
    
}

.time {
    width: 10%;
    float: left;
}

.teamA {
    width: 35%;
    float: left;
    text-align: right;
}

.score {
    width: 15%;
    float: left;
    text-align: center;
}

.teamB {
    width: 35%;
    float: left;
    text-align: left
} 

th {
    font-weight: normal;
    text-align: center;
}

.top-team > table > tbody > tr {
    height: 30px;
}

.top-team > table > tbody > tr.header {
    background-color: lightgray;
}

.league-name {
    height: 40px;
    width: 60%;
}

.team {
    width: 70%;
}

.match-played{
    width: 10%;
}

.point {
    width: 10%;
}

.ranking {
    width: 10%;
}

.league-navigate {
    text-decoration: none;
    width: 20%;
}

.league-name {
    width: 60%;
}



