.player-name {
    height: 5vh;
    margin-top: 5vh;
}

.player-name > .title {
    width: 25%;
    float: left;
    text-align: center;
}

.player-name > .rank {
    width: 65%;
    float: right;
    height: 4vh;
}

.player-name > .rank > div {
    text-align: center;
    background-color: white;
    margin-top: 1vh;
}

.player-stats {
    margin-top: 5vh;
    height: 65vh;
    width: 50%;
    float: left;
}

.trending-news {
    margin-top: 5vh;
    height: 70vh;
    width: 45%;
    float: right;
}

.player-info {
    height: 40vh;
}

.team-info {
    margin-top: 5vh;
    height: 18vh;
}