.content {}

.player-name {
    height: 5vh;
    margin-top: 5vh;
}

.rank {
    line-height: 4vh;
    text-align: center;
    background-color: white;
    height: 5vh;
}

.player-stats {
    height: 65vh;
}

.trending-news {
    height: 70vh;
}

.player-info {
    height: 40vh;
}

.team-info {
    margin-top: 5vh;
    height: 18vh;
}